body {
    font-family: 'Montserrat', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: lightgray;
}

p {
    text-align: center;
}

#explanation {
    background-color: lightgreen;
    border: solid 2px;
    border-radius: 5px;
    padding: 5px;
}

button {
    background-color: lightgray;
    border-radius: 5px;
    margin: 5px;
    width: 80px;
    color: black;
}

#game {
    background-color: lightgreen;
    border: solid 2px;
    border-radius: 10px;
}